html, body {
    padding: 0;
    margin: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: 'Montserrat', sans-serif;
}

.main {
    background-color: #BA95BF;
    width: 40%;
    min-width: 350px;
    height: fit-content;

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0px auto;
}

.main-title {
    width: 100%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 21px;
    letter-spacing: 2px;
    margin: 20px 0;
    text-align: center;
}

.main-form {
    display: flex;
    justify-content: center;
    align-content: center;
}

.main-form form {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.main-form form input {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 280px;
    height: 30px;
    border: 0;
    border-radius: 20px;

    margin: 20px;
    padding: 7px;
}

.main-form form input:focus {
    outline: none;
}

#submit {
    width: 230px;
    height: 40px;
    align-self: center;
}

#submit:hover {
    font-weight: 600;
    cursor: pointer;
}

.main-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 20px 0;
}

.main-footer a {
    color: #fff;
}


