<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking Tickets</title>
    <link rel="stylesheet" href="../static/css/booking.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
<div class="bc">
<!------- HEADER ------->
<div class="header">
    <div class="header-logo">
        <img src="../static/img/new-logo.png">
    </div>
    <div class="header-menu">
        <a href="booking.html">Booking</a>
        <a href="mytickets.html">My Tickets</a>
    </div>
    <div class="header-profile">
        <p>yulia.swr@gmail.com</p>
        <span class="material-symbols-outlined">account_circle</span>
    </div>
</div>
<!---------------------->
<div class="form">
..
</div>
</div>
</body>
</html>
